@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: white;
    width: auto;


    
}

body{
    
    background-color: black;
   
}

main{
    align-items: center;
    justify-content: center;
    text-align: center;

}

.home{
    display: flex;
    width: auto;
    height: 700px;
    background-image:url('../img/Fundos_Site_GSEOWeb/Home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
    
}

.services{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 700px;
    background-image:url('../img/Fundos_Site_GSEOWeb/Fundo_services.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

}

.about{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 700px;
    background-image:url('../img/Fundos_Site_GSEOWeb/About.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

}

.case{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 700px;
    background-image:url('../img/Fundos_Site_GSEOWeb/case.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

}
.case .case-col1{
    max-width: 500px;
}

.case .case-col1 .case-col1-img img{
    max-width: 500px;

}

.case .iframe-site{
    background-color: white;
    
    
}
#iframe-website{
    overflow-y: scroll;
    

}

.contato{
    display: flex;
    width: auto;
    height: 700px;
    background-image:url('../img/Fundos_Site_GSEOWeb/Contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

}


@media (max-width:1200px){

    
.home{

  
    
    
}

.services{
  

}

.about{
   

}

.case{
   

}

.contato{
    
}



}

@media (max-width:1000px){
    body{
       
        
    }
    
    main{
    
        
    
    }

    
    .home{
        
      
         
        
    }
    
    .services{
       
    
    }
    
    .about{
      
    
    }
    
    .case{
      
    
    }
    
    .contato{
     
    
    }
    
    
    
    } 











